<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pasta D´Famiglia</title>
    <link rel="stylesheet" href="/css/mobile.css" />
    <script
      src="https://kit.fontawesome.com/5567b607a5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header></header>
    <main>
        <section class="banner">
            <div class="banner__content">
            <h1 class="banner__title">Pasta D´Famiglia</h1>
            <p class="banner__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                voluptatum, quibusdam, quia, quod voluptatem voluptate quos
                voluptates quas doloribus quidem voluptatibus? Quisquam voluptatum,
                quibusdam, quia, quod voluptatem voluptate quos voluptates quas
                doloribus quidem voluptatibus?
            </p>
            <a href="#" class="banner__button">Ver más</a>
            </div>
        </section>
        <section class="products">
            <div class="products__content">
            <h2 class="products__title">Nuestros productos</h2>
            <div class="products__container">
                <div class="products__item">
                <img
                    src="/images/pasta1.jpg"
                    alt="Pasta"
                    class="products__image"
                />
                <h3 class="products__item-title">Pasta</h3>
                <p class="products__item-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam voluptatum, quibusdam, quia, quod voluptatem voluptate
                    quos voluptates quas doloribus quidem voluptatibus?
                </p>
                </div>
                <div class="products__item">
                <img
                    src="/images/pasta2.jpg"
                    alt="Pasta"
                    class="products__image"
                />
                <h3 class="products__item-title">Pasta</h3>
                <p class="products__item-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam voluptatum, quibusdam, quia, quod voluptatem voluptate
                    quos voluptates quas doloribus quidem voluptatibus?
                </p>
                </div>
                <div class="products__item">
                <img
                    src="/images/pasta3.jpg"
                    alt="Pasta"
                    class="products__image"
                />
                <h3 class="products__item-title">Pasta</h3>
                <p class="products__item-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam voluptatum, quibusdam, quia, quod voluptatem voluptate
                    quos voluptates quas doloribus quidem voluptatibus? 
                </p>
    </main>
    <footer></footer>
  </body>
  <script src="/scripts/header.js" ></script>
</html>
